In [ ]:
#Try bring in the csv file here

In [2]:
import pandas as pd

df = pd.read_csv("City Temperature without row numbers.csv")
df

           City  temp10  temp11  empty_temp  mel_temp
0  Kuala Lumpur      32      32         NaN         5
1       Banting      29      30         NaN         4
2         Klang      31      31         NaN         1
3     Shah Alam      30      29         NaN         5
4     Damansara      28      30         NaN         2

In [4]:
df = pd.read_csv("City Temperature.csv")
df

   Unnamed: 0          City  temp10  temp11  empty_temp  mel_temp
0           0  Kuala Lumpur      32      32         NaN         5
1           1       Banting      29      30         NaN         4
2           2         Klang      31      31         NaN         1
3           3     Shah Alam      30      29         NaN         5
4           4     Damansara      28      30         NaN         2

In [5]:
df.drop("Unnamed: 0" ,axis=1) #drop column, axis =1

           City  temp10  temp11  empty_temp  mel_temp
0  Kuala Lumpur      32      32         NaN         5
1       Banting      29      30         NaN         4
2         Klang      31      31         NaN         1
3     Shah Alam      30      29         NaN         5
4     Damansara      28      30         NaN         2

In [3]:

df2 = pd.read_csv("City Temperature without row numbers.csv")
df2

           City  temp10  temp11  empty_temp  mel_temp
0  Kuala Lumpur      32      32         NaN         5
1       Banting      29      30         NaN         4
2         Klang      31      31         NaN         1
3     Shah Alam      30      29         NaN         5
4     Damansara      28      30         NaN         2

In [3]:
df3 = pd.read_csv("/Users/fakrulzahir/Desktop/AIML-B8/DailyPractise/Global_Superstore.csv")
df3

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,05-11-2013,06-11-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2014-62366,19-06-2014,19-06-2014,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.01,Medium
51286,35398,US-2014-102288,20-06-2014,24-06-2014,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.01,Medium
51287,40470,US-2013-155768,02-12-2013,02-12-2013,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,11.2308,0.01,High
51288,9596,MX-2012-140767,18-02-2012,22-02-2012,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,São Paulo,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,0.00,Medium
51289,6147,MX-2012-134460,22-05-2012,26-05-2012,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.00,High